<body>
  <div class="Form-control d-flex flex-column justify-content-center align-items-center">
    <h1 class="h1" style="text-align:center;">{{ titulo }}</h1>
  </div>

//footer
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <ul class="list-inline">
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


//tolbar
<div id="tolbar">
  <div class="tolbar-inner">
    <div class="tolbar-left">
      <div class="tolbar-title">
        <h1>
          <a href="http://www.google.com/">Google</a>
        </h1>
      </div>
    </div>
  </div>
</div>
</body>


<!---
1. En javaScript tenemos valores y estos trabajan con valores especificos de datos, dependiendo de su proposito dentro del codigo
TIPO DE DATOS:
-Undefined: Lo vemos cuando no existe un valor asignado,
-Null: Lo vemos cuando el objeto es nulo, no existe,
-Boolean:En español le decimos boleean,
-String: El el tipo de dato que representamos una cadena de caracteres,
-Number: Significa numero en españo| lo utilizamos para representar un numero en nuestro codigo.
-Object/Object: Se usa para representar un objeto|un objeto es una estructura que va a permitir relacionar propiedades y funciones bajo una misma
estructura de objetos.

2. Que es una variable: Una variable es como una caja donde podemos guardar un valor, en la realidad una variable crea un espacio en la memoria
del dispo. para que guardemos un valor especifico en ese lugar de memoria.

3. Como lo creamos:
  1- Usamos la palabra clave var
  2- Escribimos el nombre de la variable mi variable
  3- le asignamos el valor de asignacion (=)
  4- Colocamos ("") y en ella creamos una cadena de caracteres "miPrimeraVariable"
  5- Podemos acceder a nuestra variable/ utilizando console.log


-->




